body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

.translation {
  animation-duration: 10s;
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

.rotation {
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.skew {
  animation-duration: 10s;
  animation-name: skew;
  animation-iteration-count: infinite;
}

@keyframes skew {
  from {
    transform: skew(0);
  }
  to {
    transform: skew(30deg, 20deg);
  }
}

.flex {
  display: flex;
}
