body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.flex {
  display: flex;
}

h1,
h2,
strong {
  color: #333;
  font-size: 2.25rem;
  line-height: 1.125;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h4, .caption {
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
}

hr {
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}

.rotation {
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.skew {
  animation-duration: 10s;
  animation-name: skew;
  animation-iteration-count: infinite;
}

@keyframes skew {
  from {
    transform: skew(0);
  }
  to {
    transform: skew(-30deg, 40deg);
  }
}

.scale {
  animation-duration: 10s;
  animation-name: scale;
  animation-iteration-count: infinite;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.3);
  }
}

.translation {
  animation-duration: 10s;
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

/*Responsiveness*/

@media screen and (max-width: 799px) {
  body {
    padding: 5rem 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) (orientation: landscape) {
  body {
  padding: 4rem;
  background-color: red;
  }
}

@media only screen and (orientation: landscape) {
  body {
  background-color: red;
  }
}

.row {
  box-sizing: border-box;
}

.col-25 {
  width: 25%;
  float: left;
}

.col-75 {
  width: 75%;
}
